#
# Simple MySQL systemd service file
#
# systemd supports lots of fancy features, look here (and linked docs) for a full list: 
#  http://www.freedesktop.org/software/systemd/man/systemd.exec.html
#
# Note: this file ( /usr/lib/systemd/system/nm3000_mysql.service )
# will be overwritten on package upgrade, please copy the file to 
#
#  /etc/systemd/system/nm3000_mysql 
#  
# to make needed changes.
# 
# systemd-delta can be used to check differences between the two nm3000_mysql.service files.
#

[Unit]
Description=NM3000 MySQL
After=network.target
After=syslog.target

[Install]
WantedBy=multi-user.target
Alias=nm3000_mysql

[Service]
ExecStart=nm3000Path/ems/systemd/mysql.sh start nm3000Path/ems/mysql/bin/ NM3000USER 
ExecStop=nm3000Path/ems/systemd/mysql.sh stop nm3000Path/ems/mysql/bin/ 
